######################
# Intellij
######################
.idea/

######################
# Visual Studio Code
######################
.vscode/

######################
# Maven
######################
/target/

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar